<ion-view title="Devotion App">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Home" icon="ion-home" href="#/home/list">
            <ion-nav-view name="tab1"></ion-nav-view>
            <ion-content padding="true" class="has-header"></ion-content>
        </ion-tab>
        <ion-tab title="Podcast" icon="ion-android-microphone" href="#/home/podcasts">
            <ion-nav-view name="tab2"></ion-nav-view>
            <ion-content padding="true" class="has-header"></ion-content>
        </ion-tab>
        <ion-tab title="Settings" icon="ion-gear-a" href="#/home/settings">
            <ion-nav-view name="tab3"></ion-nav-view>
            <ion-content padding="true" class="has-header"></ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>